<?xml version="1.0" encoding="utf-8" ?>
<quartz xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" overwrite-existing-jobs="true">
    <job>
        <job-detail>
            <name>UpdateOZSMK</name>
            <group>UpdateOZSMKGroup</group>
            <description>Обновление орг. структуры ОЗСМК</description>
            <job-type>Store.Web.Controllers.UpdateOrganizationJob, Store.Web.Controllers</job-type>
            <volatile>false</volatile>
            <durable>true</durable>
            <recover>false</recover>
            <job-data-map>
              <entry>
                <key>organizationId</key>
                <value>50004352</value>
              </entry>
            </job-data-map>
        </job-detail>
      <trigger>
        <cron>
          <name>TriggerOZSMK8</name>
          <group>UpdateOZSMKGroup</group>
          <description>Обновление данных в 8-30</description>
          <job-name>UpdateOZSMK</job-name>
          <job-group>UpdateOZSMKGroup</job-group>
          <cron-expression>0 30 8 * * ?</cron-expression>
        </cron>
      </trigger>
      <trigger>
        <cron>
          <name>TriggerOZSMK11</name>
          <group>UpdateOZSMKGroup</group>
          <description>Обновление данных в 11-00</description>
          <job-name>UpdateOZSMK</job-name>
          <job-group>UpdateOZSMKGroup</job-group>
          <cron-expression>0 0 11 * * ?</cron-expression>
        </cron>
      </trigger>
      <trigger>
        <cron>
          <name>TriggerOZSMK15</name>
          <group>UpdateOZSMKGroup</group>
          <description>Обновление данных в 15-00</description>
          <job-name>UpdateOZSMK</job-name>
          <job-group>UpdateOZSMKGroup</job-group>
          <cron-expression>0 0 15 * * ?</cron-expression>
        </cron>
      </trigger>
    </job>

  <!--
  <job>
    <job-detail>
      <name>UpdateVGOK</name>
      <group>UpdateVGOKGroup</group>
      <description>Обновление орг. структуры ВГОК</description>
      <job-type>Store.Web.Controllers.UpdateOrganizationJob, Store.Web.Controllers</job-type>
      <volatile>false</volatile>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>organizationId</key>
          <value>3</value>
        </entry>
      </job-data-map>
    </job-detail>
    <trigger>
      <cron>
        <name>TriggerVGOK9</name>
        <group>UpdateVGOKGroup</group>
        <description>Обновление данных в 9-00</description>
        <job-name>UpdateVGOK</job-name>
        <job-group>UpdateVGOKGroup</job-group>
        <cron-expression>0 0 9 * * ?</cron-expression>
      </cron>
    </trigger>
    <trigger>
      <cron>
        <name>TriggerVGOK12</name>
        <group>UpdateVGOKGroup</group>
        <description>Обновление данных в 11-00</description>
        <job-name>UpdateVGOK</job-name>
        <job-group>UpdateVGOKGroup</job-group>
        <cron-expression>0 0 12 * * ?</cron-expression>
      </cron>
    </trigger>
    <trigger>
      <cron>
        <name>TriggerVGOK16</name>
        <group>UpdateVGOKGroup</group>
        <description>Обновление данных в 16-00</description>
        <job-name>UpdateVGOK</job-name>
        <job-group>UpdateVGOKGroup</job-group>
        <cron-expression>0 0 16 * * ?</cron-expression>
      </cron>
    </trigger>
  </job>
  -->

  <job>
    <job-detail>
      <name>UpdateERUD</name>
      <group>UpdateERUDGroup</group>
      <description>Обновление орг. структуры ЕвразРуды</description>
      <job-type>Store.Web.Controllers.UpdateOrganizationJob, Store.Web.Controllers</job-type>
      <volatile>false</volatile>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>organizationId</key>
          <value>5</value>
        </entry>
      </job-data-map>
    </job-detail>
    <trigger>
      <cron>
        <name>TriggerERUD9</name>
        <group>UpdateERUDGroup</group>
        <description>Обновление данных в 9-00</description>
        <job-name>UpdateERUD</job-name>
        <job-group>UpdateERUDGroup</job-group>
        <cron-expression>0 0 9 * * ?</cron-expression>
      </cron>
    </trigger>
    <trigger>
      <cron>
        <name>TriggerERUD12</name>
        <group>UpdateERUDGroup</group>
        <description>Обновление данных в 12-10</description>
        <job-name>UpdateERUD</job-name>
        <job-group>UpdateERUDGroup</job-group>
        <cron-expression>0 10 12 * * ?</cron-expression>
      </cron>
    </trigger>
    <!--trigger>
      <cron>
        <name>TriggerERUD15</name>
        <group>UpdateERUDGroup</group>
        <description>Обновление данных в 15-30</description>
        <job-name>UpdateERUD</job-name>
        <job-group>UpdateERUDGroup</job-group>
        <cron-expression>0 30 15 * * ?</cron-expression>
      </cron>
    </trigger-->

  </job>

  <job>
    <job-detail>
      <name>UpdateNomERUD</name>
      <group>UpdateNomERUDGroup</group>
      <description>Обновление номенклатурного справочника ЕвразРуды</description>
      <job-type>Store.Web.Controllers.UpdateNomenclatureJob, Store.Web.Controllers</job-type>
      <volatile>false</volatile>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>organizationId</key>
          <value>5</value>
        </entry>
      </job-data-map>
    </job-detail>
    <trigger>
      <cron>
        <name>TriggernomERUD17</name>
        <group>UpdateNomERUDGroup</group>
        <description>Обновление номенклатурного справочника в 16-35</description>
        <job-name>UpdateNomERUD</job-name>
        <job-group>UpdateNomERUDGroup</job-group>
        <cron-expression>0 35 16 * * ?</cron-expression>
      </cron>
    </trigger>
  </job>



  <job>
    <job-detail>
      <name>UpdateGUR</name>
      <group>UpdateGURGroup</group>
      <description>Обновление орг. структуры Гурьевского рудника</description>
      <job-type>Store.Web.Controllers.UpdateOrganizationJob, Store.Web.Controllers</job-type>
      <volatile>false</volatile>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>organizationId</key>
          <value>6</value>
        </entry>
      </job-data-map>
    </job-detail>
    <trigger>
      <cron>
        <name>TriggerGUR9</name>
        <group>UpdateGURGroup</group>
        <description>Обновление данных в 9-10</description>
        <job-name>UpdateGUR</job-name>
        <job-group>UpdateGURGroup</job-group>
        <cron-expression>0 10 9 * * ?</cron-expression>
      </cron>
    </trigger>
    <trigger>
      <cron>
        <name>TriggerGUR12</name>
        <group>UpdateGURGroup</group>
        <description>Обновление данных в 12-20</description>
        <job-name>UpdateGUR</job-name>
        <job-group>UpdateGURGroup</job-group>
        <cron-expression>0 20 12 * * ?</cron-expression>
      </cron>
    </trigger>
    <trigger>
      <cron>
        <name>TriggerGUR15</name>
        <group>UpdateGURGroup</group>
        <description>Обновление данных в 15-40</description>
        <job-name>UpdateGUR</job-name>
        <job-group>UpdateGURGroup</job-group>
        <cron-expression>0 40 15 * * ?</cron-expression>
      </cron>
    </trigger>

  </job>  
  
</quartz>
