<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
               xmlns:hib="urn:nhibernate-configuration-2.2">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <!--Трансформируем подключение к основной базе данных-->
  <hib:hibernate-configuration>
    <hib:session-factory>
      <!--Заменяем подключение к БД на продуктив ВГОК-->
      <hib:property name="connection.connection_string" xdt:Transform="Replace"  xdt:Locator="Match(name)">User ID=store;Password=store2011;Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = nkmk-fin-001-r.sib.evraz.com)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = DEVASUP)))</hib:property>
      <!--Отключаем вывод сгенерированных SQL запросов в лог файл-->
      <hib:property name="show_sql" xdt:Transform="Replace"  xdt:Locator="Match(name)">true</hib:property>
    </hib:session-factory>
  </hib:hibernate-configuration>

  <!--Трансформируем подключение к базе данных ACS-->
  <hibernate-account-configuration>
    <session-factory>
      <!--Заменяем подключение к БД на продуктив ВГОК-->
      <property name="connection.connection_string" xdt:Transform="Replace"  xdt:Locator="Match(name)">User ID=adm;Password=adm;Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = pc60.nkmk.ru)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = fin)))</property>
      <!--Отключаем вывод сгенерированных SQL запросов в лог файл-->
      <property name="show_sql" xdt:Transform="Replace"  xdt:Locator="Match(name)">false</property>
    </session-factory>
  </hibernate-account-configuration>
  
  <!--Заменяем пути для открытия отчетов-->
  <appSettings>
    <add key="isDebug" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReportServerURL" value="http://zsmk-report.zsmk.ru/ReportServer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QuartzJobOrganization" value="50004352" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReportServerFolder" value="/WorkingClothes/Dev_WorkingClothes" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>